---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me - Real Game Reviews & Guides"
	description="Real Game Reviews & Guides"
	pubDate={new Date('June 19 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
    <p>  
	    Welcome to Real Game Reviews & Guides (RGRG)! My journey with video games began as far back as I can remember, 
		with cherished memories of playing Super Mario World and Donkey Kong on the SNES, 
		and the original Mario games and Mike Tyson's Punch-Out on the NES. 
		Over the years, my passion for gaming has only grown, leading me to own almost every gaming console released, 
		often amassing collections of 100-200 games or more for each.
    </p>
    <p>
        Gaming is not just a pastime for me; it's a passion that I wholeheartedly embrace in my free time. 
		I revel in games with compelling stories and captivating gameplay, always seeking out new experiences and 
		challenges. This love for gaming has fueled my desire to share my insights and expertise with fellow gamers, 
		whether you're contemplating a new purchase or seeking guidance through a challenging level.
    </p>
    <p>
        Real Game Reviews & Guides is dedicated to providing thoughtful, thorough, and unbiased reviews and guides. 
		My aim is to help you make informed decisions and enhance your gaming experience. Whether you're a seasoned 
		gamer or new to the world of video games, you'll find valuable information and perspectives here.
    </p>
    <p>
        Thank you for visiting RGRG. I hope you find my reviews and guides helpful and enjoyable. 
		Let's embark on this gaming journey together!
    </p>


</Layout>
