---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Info Page"
	description="Real Game Reviews & Guides"
	pubDate={new Date('June 19 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
<div class="layout" style="padding-bottom: 30vh;">
    <div class="layout-margin-right" style="width: calc(100% + 0px); grid-row: 1 / -1; padding-left: 0px; position: sticky; top: 0px; right: 0px; z-index: 80; transition: opacity 0.2s ease 0s; opacity: 1; visibility: visible; pointer-events: auto;">
        <div style="width: 100%; height: 0px;"></div>
        <div class="hide-scrollbar ignore-scrolling-container" style="position: absolute; top: 0px; width: calc(100% + 0px); height: calc(-44px + 100vh); display: flex; flex-direction: column; pointer-events: none;">
            <div style="display: flex;">
                <div style="width: 100%;">
                    <div style="max-height: 168px; margin-bottom: 60px; pointer-events: auto;">
                        <div style="max-height: 168px; display: flex; flex-direction: row; position: absolute; top: 259px; right: 0px; overflow-y: hidden; opacity: 1; transition: opacity 0.2s ease;">
                            <div style="width: 56px; display: flex; flex-direction: column; justify-content: center; padding-bottom: 12px; padding-right: 8px;">
                                <div style="display: flex; flex-direction: column; gap: 12px; padding-left: 20px; padding-bottom: 12px; height: 100%;">
                                    <div style="background-color: rgb(50, 48, 44); height: 2px; width: 16px; transition: background 0.2s ease, box-shadow 0.2s ease; box-shadow: none; border-radius: 2px; margin-left: 0px;"></div>
                                    <div style="background-color: rgb(227, 226, 224); height: 2px; width: 16px; transition: background 0.2s ease, box-shadow 0.2s ease; box-shadow: none; border-radius: 2px; margin-left: 0px;"></div>
                                    <div style="background-color: rgb(227, 226, 224); height: 2px; width: 16px; transition: background 0.2s ease, box-shadow 0.2s ease; box-shadow: none; border-radius: 2px; margin-left: 0px;"></div>
                                    <div style="background-color: rgb(227, 226, 224); height: 2px; width: 16px; transition: background 0.2s ease, box-shadow 0.2s ease; box-shadow: none; border-radius: 2px; margin-left: 0px;"></div>
                                    <div style="background-color: rgb(227, 226, 224); height: 2px; width: 16px; transition: background 0.2s ease, box-shadow 0.2s ease; box-shadow: none; border-radius: 2px; margin-left: 0px;"></div>
                                    <div style="background-color: rgb(227, 226, 224); height: 2px; width: 16px; transition: background 0.2s ease, box-shadow 0.2s ease; box-shadow: none; border-radius: 2px; margin-left: 0px;"></div>
                                    <div style="background-color: rgb(227, 226, 224); height: 2px; width: 16px; transition: background 0.2s ease, box-shadow 0.2s ease; box-shadow: none; border-radius: 2px; margin-left: 0px;"></div>
                                    <div style="background-color: rgb(227, 226, 224); height: 2px; width: 16px; transition: background 0.2s ease, box-shadow 0.2s ease; box-shadow: none; border-radius: 2px; margin-left: 0px;"></div>
                                    <div style="background-color: rgb(227, 226, 224); height: 2px; width: 16px; transition: background 0.2s ease, box-shadow 0.2s ease; box-shadow: none; border-radius: 2px; margin-left: 0px;"></div>
                                    <div style="background-color: rgb(227, 226, 224); height: 2px; width: 16px; transition: background 0.2s ease, box-shadow 0.2s ease; box-shadow: none; border-radius: 2px; margin-left: 0px;"></div>
                                    <div style="background-color: rgb(227, 226, 224); height: 2px; width: 16px; transition: background 0.2s ease, box-shadow 0.2s ease; box-shadow: none; border-radius: 2px; margin-left: 0px;"></div>
                                    <div style="background-color: rgb(227, 226, 224); height: 2px; width: 16px; transition: background 0.2s ease, box-shadow 0.2s ease; box-shadow: none; border-radius: 2px; margin-left: 0px;"></div>
                                    <div style="background-color: rgb(227, 226, 224); height: 2px; width: 16px; transition: background 0.2s ease, box-shadow 0.2s ease; box-shadow: none; border-radius: 2px; margin-left: 0px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layout-full">
        <div class="pseudoSelection" data-content-editable-void="true" style="user-select: none; --pseudoSelection--background: transparent; width: 100%; display: flex; flex-direction: column; align-items: center; flex-shrink: 0; flex-grow: 0; z-index: 2;">
            <div style="position: relative; width: 100%; display: flex; flex-direction: column; align-items: center; height: 30vh; cursor: default;">
                <div style="width: 100%; cursor: inherit;">
                    <div style="display: grid; width: 100%; height: 30vh;">
                        <div style="grid-area: 1 / 1; width: 100%; height: 100%;">
                            <img src="/images/page-cover/nasa_tim_peake_spacewalk.jpg" referrerpolicy="same-origin" style="display: block; object-fit: cover; border-radius: 0px; width: 100%; height: 30vh; opacity: 1; object-position: center 44.74%;" />
                        </div>
                    </div>
                    <div aria-hidden="true" style="background: rgba(0, 0, 0, 0.4); border-radius: 4px; color: white; font-size: 12px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI Variable Display', 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 180px; left: calc(50% - 90px); padding: 0.3em 1.5em; pointer-events: none; position: absolute; top: calc(50% - 10px); text-align: center; opacity: 0; transition: opacity 0.2s ease;">Drag image to reposition</div>
                    <div style="position: absolute; pointer-events: none; max-width: 100%; top: 48px; width: 900px; opacity: 0; transition: width 0.2s ease, opacity 0.2s ease;">
                        <div style="color: rgba(55, 53, 47, 0.65); fill: rgba(55, 53, 47, 0.65); font-size: 12px; background: white; box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px; display: flex; white-space: nowrap; border-radius: 4px; max-width: calc(100% - 16px); min-height: 24px; overflow: hidden; pointer-events: none; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI Variable Display', 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol'; position: absolute; right: 8px; bottom: 8px; z-index: 2; margin-right: calc(96px + env(safe-area-inset-right)); margin-left: calc(96px + env(safe-area-inset-left)); transition: max-width 0.2s ease 0s, width 0.2s ease 0s;">
                            <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-left: 6px; padding-right: 8px; margin-left: 0px; margin-right: 0px; flex-grow: 1; flex-shrink: 1;">/Tim Peake/NASA</div>
                            <div style="display: flex; flex-shrink: 0; margin-left: auto; margin-right: 0px; border-left: 1px solid rgba(55, 53, 47, 0.16);">
                                <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin: 0px 4px; border-radius: 3px; cursor: pointer; user-select: none; font-weight: 500; line-height: 120%; min-height: 20px; height: 20px; min-width: 20px; padding: 0px 6px; color: inherit; fill: inherit; font-family: inherit; background: none; border: none; margin-left: 0px; width: auto;">Original</div>
                            </div>
                        </div>
                    </div>
                    <div style="position: absolute; pointer-events: none; top: 0px; left: 0px; width: 100%; height: 100%; transition: background 0.2s ease;"></div>
                </div>
            </div>
        </div>
        <div class="notion-page-scroller">
            <div style="width: 100%; display: flex; justify-content: center; pointer-events: none; margin-top: -9vh;">
                <div style="width: 900px; max-width: 100%; pointer-events: none;">
                    <div style="background: white; width: 100%; height: calc(100% - 100px); border-radius: 3px; box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px; overflow: hidden;">
                        <div class="notion-scroller vertical horizontal">
                            <div class="notion-column-list notion-block-3ac2de03fa9c46f88a42d5c93c7dfd19">
                                <div class="notion-column" style="width: calc((100% - (3.7px * 1)) * 0.5);"></div>
                                <div class="notion-column" style="width: calc((100% - (3.7px * 1)) * 0.5);"></div>
                                <div class="notion-column" style="width: calc((100% - (3.7px * 1)) * 0.5);"></div>
                                <div class="notion-column" style="width: calc((100% - (3.7px * 1)) * 0.5);"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</Layout>